.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 36px);
}

.emptyImg {
  width: 94px;
  height: 94px;
}

.emptyText {
  color: #666;
}